--
-- PostgreSQL database dump
--

\restrict F81k3P47al7UOPUaXivVrcMjDnbtVwMo8GJKQwqiHgMBe4gIlQgDUTLsPrgGJde

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estado_reservacion; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.estado_reservacion AS ENUM (
    'pendiente',
    'confirmada',
    'cancelada',
    'completada'
);


--
-- Name: rol_usuario; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.rol_usuario AS ENUM (
    'cliente',
    'admin'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mesas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mesas (
    id integer NOT NULL,
    numero integer NOT NULL,
    capacidad integer NOT NULL,
    ubicacion character varying(100),
    activa boolean DEFAULT true NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT mesas_capacidad_check CHECK ((capacidad > 0))
);


--
-- Name: COLUMN mesas.activa; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.mesas.activa IS 'Se usa para soft delete en lugar de borrar el registro';


--
-- Name: mesas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mesas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mesas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mesas_id_seq OWNED BY public.mesas.id;


--
-- Name: reservaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reservaciones (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    mesa_id integer NOT NULL,
    fecha date NOT NULL,
    hora time without time zone NOT NULL,
    num_comensales integer NOT NULL,
    estado public.estado_reservacion DEFAULT 'pendiente'::public.estado_reservacion NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT reservaciones_num_comensales_check CHECK ((num_comensales > 0))
);


--
-- Name: reservaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.reservaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: reservaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.reservaciones_id_seq OWNED BY public.reservaciones.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol public.rol_usuario DEFAULT 'cliente'::public.rol_usuario NOT NULL,
    creado_en timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE usuarios; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.usuarios IS 'Clientes y administradores del sistema';


--
-- Name: COLUMN usuarios.password_hash; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.usuarios.password_hash IS 'Contrase├▒a encriptada con bcrypt, nunca en texto plano';


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: mesas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mesas ALTER COLUMN id SET DEFAULT nextval('public.mesas_id_seq'::regclass);


--
-- Name: reservaciones id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservaciones ALTER COLUMN id SET DEFAULT nextval('public.reservaciones_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: mesas; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.mesas VALUES (1, 1, 2, 'Terraza', true, '2026-08-02 17:39:08.998728');
INSERT INTO public.mesas VALUES (2, 2, 4, 'Sal├│n principal', true, '2026-08-02 17:39:08.998728');
INSERT INTO public.mesas VALUES (3, 3, 4, 'Sal├│n principal', true, '2026-08-02 17:39:08.998728');


--
-- Data for Name: reservaciones; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.reservaciones VALUES (1, 2, 1, '2026-08-03', '19:00:00', 2, 'confirmada', '2026-08-02 17:39:09.000728');
INSERT INTO public.reservaciones VALUES (3, 2, 4, '2026-08-05', '13:00:00', 5, 'pendiente', '2026-08-02 17:39:09.000728');
INSERT INTO public.reservaciones VALUES (4, 5, 1, '2026-08-10', '19:00:00', 2, 'pendiente', '2026-08-02 18:26:53.325641');


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.usuarios VALUES (1, 'Administrador General', 'admin@restaurante.com', '$2b$10$W3JmZgYQ0z8m9y2n7Kx6C.ZqYy2yqjWQwq0lU3F8yYq0m6z8u1s3S', 'admin', '2026-08-02 17:39:08.992945');
INSERT INTO public.usuarios VALUES (2, 'Juan P├®rez', 'juan.perez@example.com', '$2b$10$8kq0m6z8u1s3SW3JmZgYQ0z8m9y2n7Kx6C.ZqYy2yqjWQwq0lU3F', 'cliente', '2026-08-02 17:39:08.997613');
INSERT INTO public.usuarios VALUES (3, 'Mar├¡a L├│pez', 'maria.lopez@example.com', '$2b$10$C.ZqYy2yqjWQwq0lU3F8yYq0m6z8u1s3SW3JmZgYQ0z8m9y2n7Kx6', 'cliente', '2026-08-02 17:39:08.997613');


--
-- Name: mesas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mesas_id_seq', 14, true);


--
-- Name: reservaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.reservaciones_id_seq', 10, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 17, true);


--
-- Name: mesas mesas_numero_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_numero_key UNIQUE (numero);


--
-- Name: mesas mesas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_pkey PRIMARY KEY (id);


--
-- Name: reservaciones reservaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservaciones
    ADD CONSTRAINT reservaciones_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_mesa_fecha_hora_activa; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_mesa_fecha_hora_activa ON public.reservaciones USING btree (mesa_id, fecha, hora) WHERE (estado <> 'cancelada'::public.estado_reservacion);


--
-- Name: idx_reservaciones_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reservaciones_estado ON public.reservaciones USING btree (estado);


--
-- Name: idx_reservaciones_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reservaciones_usuario ON public.reservaciones USING btree (usuario_id);


--
-- Name: reservaciones reservaciones_mesa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservaciones
    ADD CONSTRAINT reservaciones_mesa_id_fkey FOREIGN KEY (mesa_id) REFERENCES public.mesas(id) ON DELETE RESTRICT;


--
-- Name: reservaciones reservaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservaciones
    ADD CONSTRAINT reservaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict F81k3P47al7UOPUaXivVrcMjDnbtVwMo8GJKQwqiHgMBe4gIlQgDUTLsPrgGJde

